nav {
    background-color: rgb(36, 122, 86);
    padding: 10px;
}


nav a {
    color: aqua;
    display: inline-block;
    padding: 10px;
}

h1 {
    color: #8c35ffa4;
}

img {
    width: 300px;
    height: auto;
    border: 1px solid #000000a4;
    box-shadow: 0 0 5px #700000;
    padding: 5px;
}


p {
    font-size: 20px;
}